<main>
	<h2>Create new applicant</h2>
	<form action="/applicant/create" method="post">
		<label>
			Applicant Number:
			<input type="text" name="applicantNumber" />
		</label>
		<label>
			Gender:
			<input type="text" name="gender" />
		</label>
		<label>
			Title:
			<input type="text" name="title" />
		</label>
		<label>
			First Name:
			<input type="text" name="firstName" />
		</label>
		<label>
			Last Name:
			<input type="text" name="lastName" />
		</label>
		<label>
			Nick Name:
			<input type="text" name="nickName" />
		</label>
		<label>
			Birth Date:
			<input type="date" name="birthDate" />
		</label>
		<label>
			Street:
			<input type="text" name="street" />
		</label>
		<label>
			Number:
			<input type="text" name="number" />
		</label>
		<label>
			Number Extension:
			<input type="text" name="numberExtension" />
		</label>
		<label>
			Zip Code:
			<input type="text" name="zipCode" />
		</label>
		<label>
			Place:
			<input type="text" name="place" />
		</label>
		<label>
			Applicant Key:
			<input type="text" name="applicantkey" />
		</label>
		<label>
			Description:
			<input type="text" name="description" />
		</label>
		<br />
		<button type="submit">Create</button>
	</form>
</main>